
button.editBtn {
    height: 20px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../css/images/edit.png);
    border: 0;
}

button.deleteBtn {
    height: 20px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../css/images/delete.png);
    border: 0;
}

.editBtn:hover, .deleteBtn:hover {
    background-color: #495B44;
}

header {
    margin-bottom: 40px;
    height: 62px;
    white-space: nowrap;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}

.row {
    padding-bottom: 16px;
}

div.backBtns {
    top: 80px;
    z-index: 1;
}

div.backBtns a {
    font-variant: small-caps;
    font-size: 18px;
}

.submitBtn {
    height: 40px !important;
}

.add {
    margin-top: 30px;
}

