
h1, h2, h3, h4, h5, h6, label, span, p, legend {
    font-family: 'Ubuntu';
    color: #b2b003;
}

legend {
    font-size: 2em;
    font-variant: small-caps;
}

select {
    min-width: 50px;
}

button {
    cursor: pointer;
    background-color: #b2b003;
}

input, select {
    background-color: #c2c013;
    border: 0;
    height: 20px;
    border-radius: 4px;
}

input, select, button, a {
    font-family: 'Ubuntu';
}

a {
    text-decoration: none;
}

a[type=button] {
    background-color: #c2c013;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

a[type=button]:hover {
    background-color: #465768;
}

body {
    margin: 0;
    min-height: 100%;
    text-align: center;
    background-image: -webkit-gradient(
	linear,
	left bottom,
	right top,
	color-stop(0, #000),
	color-stop(0.7, #391622)
    );
    background-image: -o-linear-gradient(right top, #000 0%, #391622 100%);
    background-image: -moz-linear-gradient(right top, #000 0%, #391622 100%);
    background-image: -webkit-linear-gradient(right top, #000 0%, #391622 100%);
    background-image: -ms-linear-gradient(right top, #000 0%, #391622 100%);
    background-image: linear-gradient(to right top, #000 0%, #391622 100%);
}

html {
    min-height: 100%;
}

.gris {
    color: #282828 !important;
}

.pointer {
    cursor: pointer !important;
}

.defCurs {
    cursor: default !important;
}

div.main {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

div.header {
    display: inline-block;
    background-color: #b2b003;
    width: 100%;
}

header, footer {
    display: inline-block;
    background-color: #b2b003;
    width: 100%;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

.nds {
    display: none !important;
}

.center {
    text-align: center;
}

.textLeft {
    text-align: left !important;
}

.textRight {
    text-align: right !important;
}

.noTop {
    margin-top: 0px !important;
}

.inlineBlock {
    display: inline-block !important;
}

div.cercador div, form fieldset div {
    padding-bottom: 16px;
}

button.submitBtn {
    border-radius: 10px;
    margin-top: 10px;
    height: 70px;
    font-weight: 600;
    font-size: larger;
}

.error {
    color: red !important;
}

.errorText {
    display: block;
    color: red !important;
    font-size: 12px;
}

a#logoutBtn {
    position: absolute;
    display: block;
}

.arrow {
    display: inline-block;
    position: relative;
    left: 4px;
    top: -2px;
    width: 0; 
    height: 0; 
}

.arrowDown {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000;
}

.arrowUp {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #000;
}

span.separator {
    color: #282828;
    font-weight: 800;
    margin-left: 10px;
    margin-right: 10px;
}